<div class="holding" id="holding" fxLayout.lt-md="column" fxLayout="row">
  <div class="txtSide" fxLayout="column" fxLayoutAlign="space-around" fxFlex="60%" fxLayoutGap="20px">
    <div>
      <h3>Ruche .</h3>
      <h5>{{ animatedText }}</h5>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ducimus!
      Aliquid quod consequatur nihil, fugiat iste beatae assumenda dolorem, sit
      illum odio alias numquam omnis repudiandae similique, repellendus vitae
      quaerat!
    </p>
    <button class="register" [routerLink]="['/auth']">Join US</button>
  </div>
  <div class="speedyinfoSide" fxLayout="column" fxLayoutAlign="end space-arround" fxFlex>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
      suscipit eveniet obcaecati tempora, assumenda, velit expedita voluptatibus
      cupiditate voluptate voluptatem porro recusandae? Ipsa voluptatibus
      tempora laudantium nihil voluptates aliquam. Rem! So <a [routerLink]="['/home']" mat-button color="warn">lead me
        Home</a>
    </p>
    <!-- <button class="homebtn" [routerLink]="['/auth']">
      <mat-icon class="mat-18">keyboard_arrow_right</mat-icon>
    </button> -->
  </div>
</div>
<div class="subholding" fxLayout="row" fxLayout.lt-md="column">
  <div fxFlex.lt-md="100%" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center" class="talki" fxLayoutGap="15px">
    <div id="drawer-1"></div>
    <div class="topSec" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
      <span class="nbSec">001</span>
      <span class="titSec">Boost-up your oppertunity</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita neque
      dolore maiores, atque consectetur, quisquam corrupti tenetur dolores
      repellendus natus laborum odio iste! Dolore non voluptatem, modi vel
      obcaecati possimus. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Possimus exercitationem harum quod beatae at incidunt itaque
      obcaecati assumenda minima doloribus! Corporis ea veritatis quasi odit
      consequatur quia quaerat nesciunt ad.
    </p>
  </div>
  <div fxFlex.lt-md="100%" fxFlex="50%" class="picSec1"></div>
</div>
<div class="subholding" fxLayout="row" fxLayout.lt-md="column" data-aos="fade-in" data-aos-duration="4000">
  <div fxFlex.lt-md="100%" fxFlex="50%" class="picSec2"></div>
  <div fxFlex.lt-md="100%" fxFlex="50%" fxLayout="column" fxLayoutAlign="center center" class="talki" fxLayoutGap="15px">
    <div class="topSec" fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="5px">
      <span class="nbSec">002</span>
      <span class="titSec">Shine , you'r a star</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita neque
      dolore maiores, atque consectetur, quisquam corrupti tenetur dolores
      repellendus natus laborum odio iste! Dolore non voluptatem, modi vel
      obcaecati possimus. Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Possimus exercitationem harum quod beatae at incidunt itaque
      obcaecati assumenda minima doloribus! Corporis ea veritatis quasi odit
      consequatur quia quaerat nesciunt ad.
    </p>
    <iframe src="https://s3.amazonaws.com/files.podsnack.net/iframehtml5/embed.html?hash=a1nqv53i&v=3.0&t=1543027151"
      frameborder="0" width="100%" height="60px"></iframe>
  </div>
</div>
<div class="footer" fxLayout="column" fxLayoutAlign="space-between">
  <span>_Ruche Company</span>
  <div fxLayout="row" fxLayout.lt-md="column">
    <div fxFlex.lt-md="100%" fxFlex="50%">
      <h5>About</h5>
      <p>
        Ruche it's a Company that help for fast and quality recuriting .
        and it help also Young talents to find the better opurtinity that they seek .
      </p>
    </div>
    <div fxFlex.lt-md="100%" fxFlex="50%">
      <ul>
        <li>WebSte : </li>
        <li>Phone : </li>
        <li>Fax : </li>
        <li>Email : </li>
      </ul>
    </div>
  </div>
  <div fxLayout="row">
    Ruche copyright @ 2018 - 2019 , Tunisia
  </div>
</div>
