/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
